* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black;
  padding: 2%;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.233), rgba(255, 0, 0, 0.281)) , url(./img/pinetaNonna.jpg);
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 97%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0% 5% 1% 5%;
  border-bottom: 1px solid black;
  
}
.navbar-heading {
    align-self: center;
    font-weight: normal;
 }

 .navbar-heading-main{
  display: block;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 700;
  border-bottom:2px solid  black ;

 }

 .navbar-heading-sub{
  display: block;
  font-size: 2.5rem;
  letter-spacing: 22px;
  font-weight: 700;
 }


 .links {
  display: flex;
  align-items: center;
  
}
  .nav-button {
  color: black;
  padding: 5px;
  text-decoration: none; 
}


.nav-button:hover {
  color: white;
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
}

.welcome-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;

  backface-visibility: hidden; /* stops shackiness */
  
}

.home-text{
  margin-bottom: 60px;
}

.welcome-title {
  font-size: 5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.welcome-text {
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }

  80% {
    transform: translateX(10px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  80% {
    transform: translateX(-10px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited  {
  /* visibility: hidden; */
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 15px 40px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  /* psudo element of btn treated as child */
  content: "";
  display: inline-block; 
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
} 

.btn-white:after {
  color: rgb(214, 12, 12);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; 
}