.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, $color-primary-yellow, $color-primary-red),
    url(../img/pinetaNonna.jpg);
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

    .main-section__welcome-container {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      text-align: center;
      
      width: 90%;
      @include respond(tab-land) {
        top: 50%;
      }
    }
  }

