//COLORS
$color-primary: #55c57a;
$color-primary-yellow:rgba(202, 166, 66, 0.63);
$color-primary-red: rgba(255, 0, 0, 0.644);

$color-gray-light: #f7f7f7;

$color-white: #fff;
$color-gray: #777;
$color-black: black;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
